[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/risc0-ethereum"]
	path = lib/risc0-ethereum
	url = https://github.com/risc0/risc0-ethereum
[submodule "lib/upa"]
	path = lib/upa
	url = https://github.com/NebraZKP/upa
[submodule "lib/upa-risc0-ethereum"]
	path = lib/upa-risc0-ethereum
	url = https://github.com/NebraZKP/upa-risc0-ethereum
