[workspace]
members = [
    "methods",
    "relay"
]

[workspace.dependencies]
risc0-build = { git = "https://github.com/risc0/risc0", branch = "victor/capossele/relay-with-snarks" }
risc0-zkvm = { git = "https://github.com/risc0/risc0", branch = "victor/capossele/relay-with-snarks", default-features = false }
bonsai-sdk = { git = "https://github.com/risc0/risc0", branch = "victor/capossele/relay-with-snarks" }
bonsai-ethereum-relay = { git = "https://github.com/risc0/risc0", branch = "victor/capossele/relay-with-snarks" }
methods = { path = "./methods", package = "bonsai-starter-methods" }

# Always optimize; building and running the guest takes much longer without optimization.
[profile.dev]
opt-level = 3

[profile.dev.build-override]
opt-level = 3

[profile.release]
debug = 1
lto = true

[profile.release.build-override]
opt-level = 3
